 body{
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;

 }
 .a{
   width: 40%;
   margin: auto;
  
 }
 h1{color:  #66BFBF;
   font-size: 5.625rem;
   margin: 50 auto 0 auto;
   font-family: 'Sacramento', cursive;
 }
 h2{
   color:  #66BFBF;
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   padding-bottom: 10px;
 }
 h3{color: #11999E;
   font-family: 'Montserrat', sans-serif;
 }
.toplevel{
  position: relative;
padding: 150px;
  background-color: #eaf6f6;
}
.profilepic{
  border-radius: 100%;
}
.giphy{
  width:40%;
  float:right;
border-radius:70%;
margin-left:30px;
}
.codeimg{
  width: 30%;
  float: left;
  margin-right: 50px;
}

.middle-container{
  background-color:#eaf6f6 ;
  padding: 100px 0;

}
.bottom-container{
  background-color:#66BFBF;
  padding: 50px 0 20px;
}



.bottom-cloud{
  position:absolute;
  left:15%;
  bottom: 60%;
}
.top-cloud{
  position: absolute;
  right: 20%;
   top: 10%;

}
hr{
  border: dotted #9cf88c 6px;
  border-bottom: none;
  width:8%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  text-decoration: none;
 font-size: 1rem;
}
a:hover{
  color: #ab119e;
}
.pro{
  font-weight: normal;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
}

p{
  line-height: 2;
}
.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #0e4970);
  background-image: -moz-linear-gradient(top, #3cb0fd, #0e4970);
  background-image: -ms-linear-gradient(top, #3cb0fd, #0e4970);
  background-image: -o-linear-gradient(top, #3cb0fd, #0e4970);
  background-image: linear-gradient(to bottom, #3cb0fd, #0e4970);
  text-decoration: none;
}
.copy{
  color:#eaf6f6;
  padding: 20px 0;
 font-size:0.75rem;
}
